<form action="/books" method="POST">
  <label for="title">Title: </label><br>
  <input type="text" id="title" name="title"><br>

  <label for="genre">Genre: </label><br>
  <select name="genre" id="genre">
    <option value="Fiction">Fiction</option>
    <option value="Non-Fiction">Non-Fiction</option>
    <option value="Erotica">Erotica</option>
    <option value="Sci-Fiction">Sci-Fiction</option>
    <option value="Reference">Reference</option>
  </select><br>

  <label for="cost_price">Cost Price: £</label>
  <input type="text" id="cost_price" name="cost_price">

  <label for="selling_price">Selling Price: £</label>
  <input type="text" id="selling_price" name="selling_price">

  <label for="stock_level">Stock Level: (between 0 and 99)</label>
  <input type="number" id="stock_level" name="stock_level" min="0" max="99">

  <label for="publisher_id">Publisher Name: </label><br>

  <select name="publisher_id" id="genre">
    <% for publisher in @publishers %>
    <% if publisher.active == "t" %>
    <option value="<%=publisher.id%>">
      <%=publisher.name%>
    </option>
      <% end %>
      <% end %>
    </select><br>
    <input type="submit" value="submit">


  </form>
