<form action="/books" method="POST">
  <label for="title">Title: </label><br>
  <input type="text" id="title" name="title"><br>

  <label for="genre">Genre: </label><br>
  <input type="text" id="genre" name="genre"><br>

  <label for="cost_price">Cost Price: </label>
  <input type="text" id="cost_price" name="cost_price">

  <label for="selling_price">Selling Price: </label>
  <input type="text" id="selling_price" name="selling_price">

  <label for="stock_level">Stock Level: </label>
  <input type="text" id="stock_level" name="stock_level">

  <label for="markup">Markup: </label>
  <input type="text" id="markup" name="markup">

  <label for="publisher_id">Publisher ID: </label>
  <input type="text" id="markup" name="markup">

  <label for="publisher_name">Publisher Name: </label>
  <input type="text" id="publisher_name" name="publisher_name">

  <input type="submit" value="submit">
</form>
