head {



}

/* Center tables for demo */
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th{
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}

/* End Table CSS */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;}

  li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
  }

  a {text-decoration: none;}
  a:link {color: blue;}

  a:visited {color:purple}

  body {
    padding-left: 11em;
    font-family: Georgia;
    color: black;
    background-color: white;}

    h1 {font-family: Helvetica;}

    address {
      margin-top: 1em;
      padding-top: 1em;
      border-top: thin dotted;}

      /* Images */
  /* .logo {
    float: right;
  } */
