<h1>Publishers</h1>

<table>
  <thead>
  <tr>
    <th>Publisher ID</th>
    <th>Name</th>
    <th>Active</th>
  </tr>
  </thead>
  <% for publisher in @publishers %>
  <tbody>
  <tr>
    <td><%=publisher.id%></td>
    <td> <%=publisher.name%> <a href="/publishers/<%=publisher.id%>">Edit</a></td>
    <td><%=publisher.active%></td>
  </tr>
  </tbody>
  <% end %>
</table>
<a href="/publishers/new">New Publisher</a>
