<form action="/publishers" method="POST">
  <label for="name">Name: </label><br>
  <input type="text" id="name" name="name"><br>
  <label for="active">Active: True/False</label><br>
  <select name="active" id="active">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>

  <input type="submit" value="submit">
</form>
